body{
    text-align: center;
}
.btn-container {
    /* border: 2px solid black; */
    width: 205px;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
   

}

.boxes {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 1.5rem;
}

.red{
background-color: #d95980
}
.green{
    background-color: #63aaca;
}
.yellow{
    background-color:#f99b45;
}
.purple{
    background-color:#819ff9;
}
.flash{
    background-color: white;
}